<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
  <h5 class="mb-0">
    {{this.getTitle()}}
  </h5>
  <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
    <li class="breadcrumb-item position-relative">
      <a routerLink="/" class="d-inline-block position-relative">
        <i class="ri-home-8-line"></i>
        Dashboard
      </a>
    </li>
    <!-- <li class="breadcrumb-item position-relative">
          <a [routerLink]="this.getRotaOperacao()" class="d-inline-block position-relative">
              <i class="ri-arrow-left-line"></i>
              {{this.getTitle()}}
          </a>
      </li> -->
    <li class="breadcrumb-item position-relative">
      {{this.getOperacao()}}
    </li>
  </ol>
</div>

<form [formGroup]="formularioCheckin">
  <mat-card class="daxa-card events-card mb-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()">

    <mat-card-content>
      <div class="row align-items-end">
        <!-- Coluna do calendário -->
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 form-group">
          <div class="mb-25">
          <app-calendario ngSkipHydration [formGroup]="formularioCheckin" [field]="'data'"
            [label]="'Selecione uma data'" [maxDate]="maxData" (itemSelecionado)="onDataSelecionada($event)">
          </app-calendario>
        </div>
        </div>

        <!-- Coluna do botão -->
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 form-group">
          <div class="mb-25">
            <button mat-flat-button color="accent" class="search-btn w-100"
              (click)="navegar($event, '/frequencias/checkin-dia/incluir', [this.formatDate(this.formularioCheckin.get('data')?.value)])">
              <mat-icon>event_available</mat-icon>
              Iniciar Check-in
            </button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>
