<div class="confirm-email-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div
                class="daxa-form ml-auto mr-auto border-radius bg-white"
                [class.card-borderd-theme]="themeService.isCardBorder()"
                [class.component-dark-theme]="themeService.isDark()"
            >
                <div class="title text-center">
                    <h3>
                      Bem-vindo ao Sistema Trilhar
                    </h3>
                    <p class="ml-auto mr-auto">
                      Seu e-mail foi verificado! Sua conta agora está segura contra atividades indesejadas.
                    </p>
                </div>
                <div class="admin text-center">
                    <div class="logo position-relative text-success rounded-circle">
                        <i class="material-symbols-outlined">
                            Feito
                        </i>
                    </div>
                    <span class="d-block fw-medium">
                      Seu e-mail verificado <span class="text-success">Com sucesso!</span>
                    </span>
                </div>
                <a routerLink="/" mat-button class="btn">
                  Voltar para Início
                </a>
            </div>
        </div>
    </div>
</div>
