<mat-card class="daxa-card error-card mb-25 pt-0 border-radius bg-white border-none d-block text-center">
    <mat-card-content>
        <img src="images/error.png" alt="error-image">
        <h3>
            OPS! Página 404 não encontrada!
        </h3>
        <p>
          Mas não se preocupe! Nossa equipe está de olho em todos os lugares enquanto você espera em segurança.
        </p>
        <a mat-button routerLink="/">
          Voltar para início
        </a>
    </mat-card-content>
</mat-card>
