/* ... quando exceder o tamanho do campo na grid, usada nos títulos ou descrições */
::ng-deep .ellipsis {
  white-space: nowrap;       /* Garante que o texto fique em uma única linha */
  overflow: hidden;          /* Oculta o conteúdo excedente */
  text-overflow: ellipsis;   /* Adiciona reticências no final do texto */
}






/* Adicione ao seu arquivo de estilos */
.mat-table {
  table-layout: fixed;
  width: 100%;
}

.mat-table th {
  text-align: left;
  padding: 6px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f5f5f5;
}

.mat-table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 6px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  //border: 1px solid red;
}

.mat-table tr:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
