<div class="logout-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div
                class="daxa-form ml-auto mr-auto border-radius bg-white"
                [class.card-borderd-theme]="themeService.isCardBorder()"
                [class.component-dark-theme]="themeService.isDark()"
            >
                <div class="title text-center">
                    <h3>
                      Bem-vindo ao Sistema Trilhar
                    </h3>
                    <p class="ml-auto mr-auto">
                        © <span class="text-black fw-medium"></span> Desenvolvido por <a href="mailto:marques-fonseca@hotmail.com" target="_blank">{{email}}</a>
                    </p>
                </div>
                <div class="admin text-center">
                    <div class="logo position-relative rounded-circle">
                        <!-- <img src="images/logo.svg" alt="logo"> -->
                    </div>
                    <span class="d-block fw-medium">
                      Você está desconectado
                    </span>
                </div>
                <a routerLink="/authentication" mat-button class="btn">
                    Entrar
                </a>
            </div>
        </div>
    </div>
</div>
