<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
  <!-- <h5 class="mb-0">
    {{this.getTitle()}}
  </h5> -->
  <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
      <li class="breadcrumb-item position-relative">
          <a routerLink="/criancas/dashboard" class="d-inline-block position-relative">
              <i class="ri-home-8-line"></i>
              Dashboard
          </a>
      </li>
      <li class="breadcrumb-item position-relative">
          <a [routerLink]="this.getRotaOperacao()" class="d-inline-block position-relative">
              <i class="ri-arrow-left-line"></i>
              {{this.getTitle()}}
          </a>
      </li>
      <li class="breadcrumb-item position-relative">
          {{this.getOperacao()}}
      </li>
  </ol>
  <!-- Botões -->
  <div style="display: flex; justify-content: flex-end; margin-bottom: 16px; border: 0px solid red;">
    <button mat-button color="primary" class="action-button"
      style="display: flex; align-items: center;"
      (click)="navegar($event, '/criancas/incluir')"  routerLinkActive="active">
      <i class="material-symbols-outlined" style="vertical-align: middle;">add_circle</i>
      <span style="vertical-align: middle; margin-left: 4px;">Incluir Novo</span>
    </button>
  </div>
</div>

<mat-card class="daxa-card events-card mb-25 border-radius bg-white border-none d-block" [class.rtl-enabled]="themeService.isRTLEnabled()">

    <div style="padding-top: 0px; padding-bottom: 0px; border: 0px solid red;">
      <!-- Título -->
      <div style="border-bottom: 0px dashed #808080; padding-bottom: 16px; ">
        <h5 class="mb-0" style="margin: 0;">
          {{this.getTitle()}}
        </h5>
      </div>
    </div>


    <!-- <mat-card-header>
      <mat-card-title style="width: 100%;">
        <form class="search-box position-relative">
          <i class="material-symbols-outlined">
            search
          </i>
          <input type="text" class="input-search d-block w-100 border-none outline-0"
            placeholder="Pesquisar código de cadastro..." [(ngModel)]="searchText" name="search" #input>
          <button mat-flat-button class="search-btn" (click)="applyFilter()">Buscar</button>
        </form>
      </mat-card-title>
    </mat-card-header> -->



    <form [formGroup]="formularioPesquisar">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-5 col-xs-4 form-group">
          <div class="mb-25">
            <app-auto-complete ngSkipHydration
              [formGroup]="formularioPesquisar"
              [field]="'alunoSelecionado'"
              [itens]="listaAlunosAutoComplete"
              [propriedadeMostrar]="'descricao'"
              [label]="'Selecione uma criança'"
              (itemSelecionado)="onListaAlunosAutoCompleteSelecionado($event)">
            </app-auto-complete>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4 form-group">
          <mat-form-field class="mb-25" appearance="outline">
            <mat-label>Nome da Criança</mat-label>
            <input matInput formControlName="nomeCrianca" placeholder="Nome da Criança">
          </mat-form-field>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-xs-3 form-group">
          <mat-form-field class="mb-25" appearance="outline">
            <mat-label>Situação:</mat-label>
            <mat-select formControlName="ativo">
              <mat-option [value]="null">Todos</mat-option>
              <mat-option [value]="true">Ativo</mat-option>
              <mat-option [value]="false">Inativo</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6 form-group">
          <mat-form-field class="mb-25" appearance="outline">
            <mat-label>Nome da mãe</mat-label>
            <input matInput formControlName="nomeMae" placeholder="Nome da mãe">
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6 form-group">
          <mat-form-field class="mb-25" appearance="outline">
            <mat-label>Nome do pai</mat-label>
            <input matInput formControlName="nomePai" placeholder="Nome do pai">
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6 form-group">
          <mat-form-field class="mb-25" appearance="outline">
            <mat-label>Nome do responsável</mat-label>
            <input matInput formControlName="outroResponsavel" placeholder="Nome do responsável">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 form-group">
          <mat-form-field class="mb-25" appearance="outline">
            <mat-label>Com Alergia:</mat-label>
            <mat-select formControlName="alergia">
              <mat-option [value]="null">Todos</mat-option>
              <mat-option [value]="true">Sim</mat-option>
              <mat-option [value]="false">Não</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 form-group">
          <mat-form-field class="mb-25" appearance="outline">
            <mat-label>Com Restrição alimentar:</mat-label>
            <mat-select formControlName="restricaoAlimentar">
              <mat-option [value]="null">Todos</mat-option>
              <mat-option [value]="true">Sim</mat-option>
              <mat-option [value]="false">Não</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 form-group">
          <mat-form-field class="mb-25" appearance="outline">
            <mat-label>Com Situação Atípica:</mat-label>
            <mat-select formControlName="deficienciaOuSituacaoAtipica">
              <mat-option [value]="null">Todos</mat-option>
              <mat-option [value]="true">Sim</mat-option>
              <mat-option [value]="false">Não</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 form-group">
          <mat-form-field class="mb-25" appearance="outline">
            <mat-label>Já batizado:</mat-label>
            <mat-select formControlName="batizado">
              <mat-option [value]="null">Todos</mat-option>
              <mat-option [value]="true">Sim</mat-option>
              <mat-option [value]="false">Não</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <br />
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
          <mat-card-content class="actions-right">
            <button mat-flat-button color="warn" (click)="limpar()">Limpar</button>
            <button mat-flat-button class="daxa" (click)="pesquisar()" style="margin-left: 10px;">Pesquisar</button>
            <!-- <button mat-flat-button [matMenuTriggerFor]="menu" style="margin-left: 10px;">Exportar</button>

            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="exportar('pdf')">
                <mat-icon>picture_as_pdf</mat-icon> PDF
              </button>
              <button mat-menu-item (click)="exportar('xlsx')">
                <mat-icon>table_chart</mat-icon> Excel
              </button>
              <button mat-menu-item (click)="exportar('docx')">
                <mat-icon>description</mat-icon> Word
              </button>
            </mat-menu> -->
          </mat-card-content>
        </div>
      </div>

    <pre *ngIf="!isProducao">{{this.formularioPesquisar.value | json}}</pre>
    </form>

    <br />
    <mat-card-content>
        <div class="events-table">
            <div class="table-responsive">
              <!-- <pre>{{dataSource.data| json}}</pre> -->
                <table mat-table [dataSource]="dataSource">

                    <!-- Checkbox Column -->
                    <!-- <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox
                                (change)="$event ? toggleAllRows() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()"
                            >
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox
                                (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)"
                            >
                            </mat-checkbox>
                        </td>
                    </ng-container> -->

                    <!-- Codigo -->
                    <!-- <ng-container matColumnDef="codigo">
                        <th mat-header-cell *matHeaderCellDef>
                            Código
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.codigo}}
                        </td>
                    </ng-container> -->

                    <ng-container matColumnDef="acoes">
                      <th mat-header-cell *matHeaderCellDef>

                      </th>
                      <td mat-cell *matCellDef="let element">
                          <div class="action-info">
                              <a mat-button (click)="navegar($event, '/criancas/detalhar', [element.codigoCadastro])" [matTooltip]="'Detalhar ' + element.nomeCrianca"  matTooltipPosition="above">
                                  <i class="material-symbols-outlined">
                                      {{element.Action.view}}
                                  </i>
                              </a>
                              <!-- <a mat-button [routerLink]="['/criancas/alterar', element.codigoCadastro]" matTooltip="Editar Criança" matTooltipPosition="above">
                                  <i class="material-symbols-outlined">
                                      {{element.Action.edit}}
                                  </i>
                              </a> -->
                              <!-- <button type="button" mat-button matTooltip="Remover Criança" matTooltipPosition="above">
                                  <i class="material-symbols-outlined">
                                      {{element.Action.delete}}
                                  </i>
                              </button> -->
                          </div>
                      </td>
                  </ng-container>

                    <!-- Ativo -->
                    <ng-container matColumnDef="ativo">
                      <th mat-header-cell *matHeaderCellDef>
                          Situação
                      </th>
                      <td mat-cell *matCellDef="let element">
                          <span class="daxa-badge upcoming d-inline-block" *ngIf="element.ativo">
                              ATIVO
                          </span>
                          <span class="daxa-badge past d-inline-block" *ngIf="!element.ativo">
                              INATIVO
                          </span>
                      </td>
                    </ng-container>

                    <!-- CodigoCadastro -->
                    <ng-container matColumnDef="codigoCadastro">
                        <th mat-header-cell *matHeaderCellDef>
                            Cod.
                        </th>
                        <!-- <td mat-cell *matCellDef="let element">
                            # {{element.codigoCadastro}}
                        </td> -->
                        <td mat-cell *matCellDef="let element">
                          <a [routerLink]="['/criancas/detalhar', element.codigoCadastro]" [matTooltip]="'Detalhar ' + element.nomeCrianca"  matTooltipPosition="above" class="fw-medium">
                              #{{element.codigoCadastro}}
                          </a>
                      </td>
                    </ng-container>

                    <!-- NomeCrianca -->
                    <ng-container matColumnDef="nomeCrianca">
                        <th mat-header-cell *matHeaderCellDef>
                            Nome da Criança
                        </th>
                        <!-- <td mat-cell *matCellDef="let element">
                            {{element.nomeCrianca}}
                        </td> -->
                        <td mat-cell *matCellDef="let element">
                            <a [routerLink]="['/criancas/detalhar', element.codigoCadastro]" [matTooltip]="'Detalhar ' + element.nomeCrianca"  matTooltipPosition="above" class="fw-medium">
                                {{element.nomeCrianca}}
                            </a>
                        </td>
                    </ng-container>

                    <!-- turmaDescricao -->
                    <ng-container matColumnDef="turmaDescricao">
                      <th mat-header-cell *matHeaderCellDef>
                        Turma atual
                      </th>
                      <td mat-cell *matCellDef="let element">
                        <!-- <pre *ngIf="!element.matricula">{{'-- Sem matrícula --'}}</pre> -->
                        {{element.matricula ? element.matricula?.turmaDescricao : '-- Sem matrícula --'}}
                      </td>
                    </ng-container>
                    <!-- DataNascimento -->
                    <ng-container matColumnDef="dataNascimento">
                        <th mat-header-cell *matHeaderCellDef>
                            Data de Nascimento
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.dataNascimento | date: 'dd/MM/yyyy' }}
                        </td>
                    </ng-container>

                    <!-- NomeMae -->
                    <ng-container matColumnDef="nomeMae">
                        <th mat-header-cell *matHeaderCellDef>
                            Nome da Mãe
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.nomeMae}}
                        </td>
                    </ng-container>


                    <!-- NomePai -->
                    <ng-container matColumnDef="nomePai">
                        <th mat-header-cell *matHeaderCellDef>
                            Nome do Pai
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.nomePai}}
                        </td>
                    </ng-container>

                    <!-- OutroResponsavel -->
                    <ng-container matColumnDef="outroResponsavel">
                        <th mat-header-cell *matHeaderCellDef>
                            Outro Responsável
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.outroResponsavel}}
                        </td>
                    </ng-container>

                    <!-- Telefone -->
                    <ng-container matColumnDef="telefone">
                        <th mat-header-cell *matHeaderCellDef>
                            Telefone
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.telefone}}
                        </td>
                    </ng-container>

                    <!-- EnderecoEmail -->
                    <!-- <ng-container matColumnDef="enderecoEmail">
                        <th mat-header-cell *matHeaderCellDef>
                            EnderecoEmail
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.enderecoEmail}}
                        </td>
                    </ng-container> -->

                    <!-- Alergia -->
                    <ng-container matColumnDef="alergia">
                        <th mat-header-cell *matHeaderCellDef>
                            Alergia?
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="daxa-badge upcoming d-inline-block" *ngIf="element.alergia">
                              SIM
                            </span>
                            <span class="d-inline-block" *ngIf="!element.alergia">
                              NÃO
                            </span>
                        </td>
                    </ng-container>

                    <!-- DescricaoAlergia -->
                    <!-- <ng-container matColumnDef="descricaoAlergia">
                        <th mat-header-cell *matHeaderCellDef>
                            Descrição da Alergia
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.descricaoAlergia}}
                        </td>
                    </ng-container> -->

                    <!-- RestricaoAlimentar -->
                    <ng-container matColumnDef="restricaoAlimentar">
                        <th mat-header-cell *matHeaderCellDef>
                            Rest. Alimentar?
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="daxa-badge upcoming d-inline-block" *ngIf="element.restricaoAlimentar">
                              SIM
                            </span>
                            <span class="d-inline-block" *ngIf="!element.restricaoAlimentar">
                              NÃO
                            </span>
                        </td>
                    </ng-container>

                    <!-- DescricaoRestricaoAlimentar -->
                    <!-- <ng-container matColumnDef="descricaoRestricaoAlimentar">
                        <th mat-header-cell *matHeaderCellDef>
                            Descrição da Restrição Alimentar
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.descricaoRestricaoAlimentar}}
                        </td>
                    </ng-container> -->

                    <!-- DeficienciaOuSituacaoAtipica -->
                    <ng-container matColumnDef="deficienciaOuSituacaoAtipica">
                        <th mat-header-cell *matHeaderCellDef>
                            Sit. Atípica?
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="daxa-badge upcoming d-inline-block" *ngIf="element.deficienciaOuSituacaoAtipica">
                              SIM
                            </span>
                            <span class="d-inline-block" *ngIf="!element.deficienciaOuSituacaoAtipica">
                              NÃO
                            </span>
                        </td>
                    </ng-container>

                    <!-- DescricaoDeficiencia -->
                    <!-- <ng-container matColumnDef="descricaoDeficiencia">
                        <th mat-header-cell *matHeaderCellDef>
                            Descrição de Deficiência ou Situação Atípica
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.descricaoDeficiencia}}
                        </td>
                    </ng-container> -->

                    <!-- Batizado -->
                    <!-- <ng-container matColumnDef="batizado">
                        <th mat-header-cell *matHeaderCellDef>
                            Batizado
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="daxa-badge upcoming d-inline-block" *ngIf="element.batizado">
                                SIM
                            </span>
                            <span class="d-inline-block" *ngIf="!element.batizado">

                            </span>
                        </td>
                    </ng-container> -->

                    <!-- DataBatizado -->
                    <!-- <ng-container matColumnDef="dataBatizado">
                        <th mat-header-cell *matHeaderCellDef>
                            Data do Batizado
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.dataBatizado}}
                        </td>
                    </ng-container> -->

                    <!-- IgrejaBatizado -->
                    <!-- <ng-container matColumnDef="igrejaBatizado">
                        <th mat-header-cell *matHeaderCellDef>
                            Igreja do Batizado
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.igrejaBatizado}}
                        </td>
                    </ng-container> -->

                    <!-- codigoUsuarioLogado -->
                    <!-- <ng-container matColumnDef="codigoUsuarioLogado">
                        <th mat-header-cell *matHeaderCellDef>
                            Usuário
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.codigoUsuarioLogado}}
                        </td>
                    </ng-container> -->

                    <!-- DataAtualizacao -->
                    <ng-container matColumnDef="dataAtualizacao">
                        <th mat-header-cell *matHeaderCellDef>
                            Data Atualização
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.dataAtualizacao | date: 'dd/MM/yyyy HH:mm' }}
                        </td>
                    </ng-container>

                    <!-- DataCadastro -->
                    <ng-container matColumnDef="dataCadastro">
                        <th mat-header-cell *matHeaderCellDef>
                            Data Cadastro
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.dataCadastro | date: 'dd/MM/yyyy HH:mm' }}
                        </td>
                    </ng-container>

                    <!-- Action Column -->
                    <!-- <ng-container matColumnDef="acoes">
                        <th mat-header-cell *matHeaderCellDef>
                            Ações
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="action-info">
                                <a mat-button [routerLink]="['/criancas/detalhar', element.codigoCadastro]" matTooltip="Ver Criança" matTooltipPosition="above">
                                    <i class="material-symbols-outlined">
                                        {{element.Action.view}}
                                    </i>
                                </a>
                                <a mat-button [routerLink]="['/criancas/alterar', element.codigoCadastro]" matTooltip="Editar Criança" matTooltipPosition="above">
                                    <i class="material-symbols-outlined">
                                        {{element.Action.edit}}
                                    </i>
                                </a>
                                <button type="button" mat-button matTooltip="Remover Criança" matTooltipPosition="above">
                                    <i class="material-symbols-outlined">
                                        {{element.Action.delete}}
                                    </i>
                                </button>
                            </div>
                        </td>
                    </ng-container> -->

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <!-- <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">Nenhum dado corresponde ao filtro "{{input.value}}"</td>
                    </tr> -->

                </table>
            </div>
            <mat-paginator
                [length]="totalItems"
                [pageSize]="pageSize"
                [pageSizeOptions]="[5, 10, 20, 30, 40, 50, 100, 200, 500, 1000, 5000]"
                (page)="onPageChange($event)"
                [pageIndex]="pageIndex"
                [showFirstLastButtons]="true">
            </mat-paginator>
        </div>
    </mat-card-content>
</mat-card>
