<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
  <h5 class="mb-0">
    {{this.getTitle()}}
  </h5>
  <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
    <li class="breadcrumb-item position-relative">
      <a routerLink="/" class="d-inline-block position-relative">
        <i class="ri-home-8-line"></i>
        Dashboard
      </a>
    </li>
    <!-- <li class="breadcrumb-item position-relative">
          <a [routerLink]="this.getRotaOperacao()" class="d-inline-block position-relative">
              <i class="ri-arrow-left-line"></i>
              {{this.getTitle()}}
          </a>
      </li> -->
    <li class="breadcrumb-item position-relative">
      {{this.getOperacao()}}
    </li>
  </ol>
</div>

<mat-card class="daxa-card events-card mb-25 border-radius bg-white border-none d-block"
  [class.rtl-enabled]="themeService.isRTLEnabled()">

  <mat-card-content>
    <div class="row">
      <div class="col-md-6">
        <form class="search-box w-100" [formGroup]="formulario" (ngSubmit)="onBuscarFrequencias()">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6 form-group">
            <app-calendario ngSkipHydration [formGroup]="formulario" [field]="'data'" [label]="'Selecione uma data'"
              [maxDate]="maxData" (itemSelecionado)="onDataSelecionada($event)">
            </app-calendario>
          </div>
          <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-6 form-group d-flex">
            <button mat-flat-button color="accent" class="search-btn">
              <mat-icon>search</mat-icon>
              Buscar
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="events-table" *ngIf="turmasAgrupadas.length > 0">
          <div class="table-responsive">
            <table class="mat-table">
              <!-- Cabeçalho da tabela -->
              <thead class="mat-header">
                <tr class="mat-header-row" style="text-align: center; font-size: 8px;">
                  <th class="mat-header-cell" style="text-align: center;"></th>
                  <th class="mat-header-cell" style="text-align: center;">Qtd. Atual</th>
                  <th class="mat-header-cell" style="text-align: center;">Qtd. Máxima</th>
                  <th class="mat-header-cell" style="text-align: center;">Qtd. Resultado</th>
                  <th class="mat-header-cell" style="text-align: center;">Qtd. Alergias</th>
                  <th class="mat-header-cell" style="text-align: center;">Qtd. Restrição Alimentar</th>
                  <th class="mat-header-cell" style="text-align: center;">Qtd. Sit. Atípica</th>
                  <th class="mat-header-cell" style="text-align: center;">Qtd. Aniversa riantes</th>
                </tr>
                <tr class="mat-header-row">
                  <th class="mat-header-cell" width="450px"><span [matTooltip]="'Clique no item para Detalhar'"
                      matTooltipPosition="above"> Turma</span></th>
                  <th class="mat-header-cell" style="text-align: center;"><mat-icon [matTooltip]="'Qtd. Atual'"
                      matTooltipPosition="above" style="color: #4CAF50;">people</mat-icon></th>
                  <th class="mat-header-cell" style="text-align: center;"><mat-icon [matTooltip]="'Qtd. Máxima'"
                      matTooltipPosition="above" style="color: #FF9800;">people_outline</mat-icon></th>
                  <th class="mat-header-cell" style="text-align: center;"><mat-icon [matTooltip]="'Qtd. Resultado'"
                      matTooltipPosition="above" style="color: #9C27B0;">person_add</mat-icon></th>
                  <th class="mat-header-cell" style="text-align: center;"><mat-icon [matTooltip]="'Qtd. Alergia'"
                      matTooltipPosition="above" style="color: #F44336;">sick</mat-icon></th>
                  <th class="mat-header-cell" style="text-align: center;"><mat-icon
                      [matTooltip]="'Qtd. Restrição Alimentar'" matTooltipPosition="above"
                      style="color: #FF5722;">restaurant</mat-icon></th>
                  <th class="mat-header-cell" style="text-align: center;"><mat-icon [matTooltip]="'Qtd. Sit. Atípica'"
                      matTooltipPosition="above" style="color: #3F51B5;">accessible</mat-icon></th>
                  <th class="mat-header-cell" style="text-align: center;"><mat-icon [matTooltip]="'Qtd. Aniversariantes'"
                      matTooltipPosition="above" style="color: #E91E63;">cake</mat-icon></th>
                </tr>
              </thead>
              <!-- Corpo da tabela -->
              <tbody>
                <tr *ngFor="let item of turmasAgrupadas" style="font-size: 12px;">
                  <td>
                    <!-- <a mat-button (click)="carregarFrequenciasTurma(item.codigoTurma, item.turmaDescricaoFormatada, item.dataFrequencia)"
                          [matTooltip]="'Detalhar ' + item.turmaDescricao" matTooltipPosition="above">
                          {{item.turmaDescricao}}
                          <mat-icon>chevron_right</mat-icon>
                        </a> -->
                    <span class="link-turma"
                      (click)="carregarFrequenciasTurma(item.codigoTurma, item.turmaDescricaoFormatada, item.dataFrequencia)">
                      {{item.turmaDescricao}}
                      <!-- <mat-icon inline>chevron_right</mat-icon> -->
                    </span>
                  </td>
                  <td>
                    <div [align]="'center'">{{ item.qtd }}</div>
                  </td>
                  <td>
                    <div [align]="'center'">{{ item.turmaLimiteMaximo }}</div>
                  </td>
                  <td [ngClass]="{
                                'text-danger': item.qtdRestanteFormatada > 0,
                                'text-success': item.qtdRestanteFormatada <= 0 }">
                    <div [align]="'center'">{{ item.qtdRestanteFormatada }}</div>
                  </td>
                  <td>
                    <div [align]="'center'">{{ item.qtdAlergia }}</div>
                  </td>
                  <td>
                    <div [align]="'center'">{{ item.qtdRestricaoAlimentar }}</div>
                  </td>
                  <td>
                    <div [align]="'center'">{{ item.qtdNecessidadesEspeciais }}</div>
                  </td>
                  <td>
                    <div [align]="'center'">{{ item.qtdAniversariantes }}</div>
                  </td>
                </tr>
                <!-- Mensagem quando não há dados -->
                <tr *ngIf="turmasAgrupadas.length === 0">
                  <td colspan="4" class="text-center">Nenhuma frequência encontrada para a data selecionada.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
