<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
  <h5 class="mb-0">
    {{this.getTitle()}}
  </h5>
  <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
    <li class="breadcrumb-item position-relative">
      <a routerLink="/" class="d-inline-block position-relative">
        <i class="ri-home-8-line"></i>
        Dashboard
      </a>
    </li>
    <!-- <li class="breadcrumb-item position-relative">
          <a [routerLink]="this.getRotaOperacao()" class="d-inline-block position-relative">
              <i class="ri-arrow-left-line"></i>
              {{this.getTitle()}}
          </a>
      </li> -->
    <li class="breadcrumb-item position-relative">
      {{this.getOperacao()}}
    </li>
  </ol>
</div>

<mat-card class="daxa-card events-card mb-25 border-radius bg-white border-none d-block"
  [class.rtl-enabled]="themeService.isRTLEnabled()">

  <mat-card-content>
    <div class="row">
      <div class="col-md-7" style="border-right: 2px solid #747474;">
        <form [formGroup]="formulario">
          <div class="col-md-4">
            <app-calendario ngSkipHydration [formGroup]="formulario" [field]="'data'" [label]="'Selecione uma data'"
              [maxDate]="maxData" (itemSelecionado)="onDataSelecionada($event)">
            </app-calendario>
          </div>
        </form>
        <br>
        <div class="events-table" *ngIf="turmasAgrupadas.length > 0">
          <div class="table-responsive">
            <table class="mat-table">
              <!-- Cabeçalho da tabela -->
              <thead class="mat-header">
                <tr class="mat-header-row">
                  <th class="mat-header-cell">Turma</th>
                  <th class="mat-header-cell">Quant.</th>
                  <th class="mat-header-cell">Máx.</th>
                  <th class="mat-header-cell">Rest.</th>
                </tr>
              </thead>
              <!-- Corpo da tabela -->
              <tbody>
                <tr *ngFor="let item of turmasAgrupadas">
                  <td
                    (click)="carregarFrequenciasTurma(item.codigoTurma, item.turmaDescricaoFormatada, item.dataFrequencia)"
                    style="cursor: pointer;">
                    {{item.turmaDescricao}}
                  </td>
                  <td>
                    <div [align]="'center'">{{ item.qtd }}</div>
                  </td>
                  <td>
                    <div [align]="'center'">{{ item.turmaLimiteMaximo }}</div>
                  </td>
                  <td [ngClass]="{
                            'text-danger': item.qtdRestanteFormatada > 0,
                            'text-success': item.qtdRestanteFormatada <= 0 }">
                    <div [align]="'center'">{{ item.qtdRestanteFormatada }}</div>
                  </td>
                </tr>
                <!-- Mensagem quando não há dados -->
                <tr *ngIf="turmasAgrupadas.length === 0">
                  <td colspan="4" class="text-center">Nenhuma frequência encontrada para a data selecionada.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <br>
        <hr>
        <br>
        <br>
      </div>


      <div class="col-md-5" style="border: 0px solid red;">
        <mat-card-header>
          <mat-card-title>
            <h5 class="mb-0" *ngIf="descricaoTuramaSelecionda">
              {{ descricaoTuramaSelecionda }}
            </h5>
            <mat-divider *ngIf="descricaoTuramaSelecionda"></mat-divider>
            <h5 class="mt-10 mb-0" *ngIf="descricaoTuramaSelecionda">TOTAL: {{ frequenciasPresentesTurmaEData.length +
              frequenciasAusentesTurmaEData.length }}</h5>
          </mat-card-title>
        </mat-card-header>
        <!-- <mat-card class="daxa-card mb-25 border-radius bg-white border-none d-block"> -->
        <mat-card-content>
          <mat-tab-group fitInkBarToContent>
            <mat-tab>
              <ng-template mat-tab-label>
                <span [matBadge]="frequenciasPresentesTurmaEData.length" matBadgeOverlap="false">Presentes</span>
              </ng-template>
              <span *ngIf="frequenciasPresentesTurmaEData.length == 0">
                <h5 class="mb-0">
                  <!-- Nenhuma turma foi selecionada. -->
                </h5>
              </span>
              <div class="events-table" *ngIf="frequenciasPresentesTurmaEData.length > 0">
                <div class="table-responsive">
                  <table class="mat-table">
                    <!-- Cabeçalho da tabela -->
                    <thead class="mat-header">
                      <tr class="mat-header-row">
                        <th class="mat-header-cell">Cod.</th>
                        <th class="mat-header-cell">Nome</th>
                        <th class="mat-header-cell">Horário</th>
                      </tr>
                    </thead>
                    <!-- Corpo da tabela -->
                    <tbody>
                      <tr *ngFor="let item of frequenciasPresentesTurmaEData">
                        <td>{{item.alunoCodigoCadastro}}</td>
                        <td>{{item.alunoNomeCrianca}}</td>
                        <td>{{item.dataFrequencia | date:'HH:mm:ss'}}</td>
                      </tr>
                      <!-- Mensagem quando não há dados -->
                      <tr *ngIf="frequenciasPresentesTurmaEData.length === 0">
                        <td colspan="4" class="text-center">Nenhuma turma encontrada para a data selecionada.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </mat-tab>
            <!-- ---------------- -->
            <mat-tab>
              <ng-template mat-tab-label>
                <span [matBadge]="frequenciasAusentesTurmaEData.length" matBadgeOverlap="false">Ausentes</span>
              </ng-template>
              <span *ngIf="frequenciasAusentesTurmaEData.length == 0">
                <h5 class="mb-0">
                  <!-- Nenhuma turma foi selecionada. -->
                </h5>
              </span>
              <div class="events-table" *ngIf="frequenciasAusentesTurmaEData.length > 0">
                <div class="table-responsive">
                  <table class="mat-table">
                    <!-- Cabeçalho da tabela -->
                    <thead class="mat-header">
                      <tr class="mat-header-row">
                        <th class="mat-header-cell">Cod.</th>
                        <th class="mat-header-cell">Nome</th>
                        <th class="mat-header-cell">Horário</th>
                      </tr>
                    </thead>
                    <!-- Corpo da tabela -->
                    <tbody>
                      <tr *ngFor="let item of frequenciasAusentesTurmaEData">
                        <td>{{item.alunoCodigoCadastro}}</td>
                        <td>{{item.alunoNomeCrianca}}</td>
                        <td>{{item.dataFrequencia | date:'HH:mm:ss'}}</td>
                      </tr>
                      <!-- Mensagem quando não há dados -->
                      <tr *ngIf="frequenciasAusentesTurmaEData.length === 0">
                        <td colspan="4" class="text-center">Nenhuma turma encontrada para a data selecionada.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </mat-tab>
            <!-- ---------------- -->
             <!-- this.frequenciasPresentesTurmaEDataPossueAlergia = ret.dados.filter((x: any) => x.presenca == true && x.alunoAlergia == true);
            this.frequenciasPresentesTurmaEDataPossueRestricaoAlimentar = ret.dados.filter((x: any) => x.presenca == true && x.alunoRestricaoAlimentar == true);
            this.frequenciasPresentesTurmaEDataPossueNecessidadesEspeciais = ret.dados.filter((x: any) => x.presenca == true && x.ret.alunoDeficienciaOuSituacaoAtipica == true); -->

            <mat-tab>
              <ng-template mat-tab-label>
                <span [matBadge]="frequenciasPresentesTurmaEDataPossueAlergia.length" matBadgeOverlap="false">Pres. com Alergia</span>
              </ng-template>
              <span *ngIf="frequenciasPresentesTurmaEDataPossueAlergia.length == 0">
                <h5 class="mb-0">
                  <!-- Nenhuma turma foi selecionada. -->
                </h5>
              </span>
              <div class="events-table" *ngIf="frequenciasPresentesTurmaEDataPossueAlergia.length > 0">
                <div class="table-responsive">
                  <table class="mat-table">
                    <!-- Cabeçalho da tabela -->
                    <thead class="mat-header">
                      <tr class="mat-header-row">
                        <th class="mat-header-cell">Cod.</th>
                        <th class="mat-header-cell">Nome</th>
                        <th class="mat-header-cell">Alergia</th>
                      </tr>
                    </thead>
                    <!-- Corpo da tabela -->
                    <tbody>
                      <tr *ngFor="let item of frequenciasPresentesTurmaEDataPossueAlergia">
                        <td>{{item.alunoCodigoCadastro}}</td>
                        <td>{{item.alunoNomeCrianca}}</td>
                        <td>{{item.alunoDescricaoAlergia}}</td>
                      </tr>
                      <!-- Mensagem quando não há dados -->
                      <tr *ngIf="frequenciasPresentesTurmaEDataPossueAlergia.length === 0">
                        <td colspan="4" class="text-center">Nenhuma turma encontrada para a data selecionada.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </mat-tab>
            <!-- ---------------- -->
             <mat-tab>
              <ng-template mat-tab-label>
                <span [matBadge]="frequenciasPresentesTurmaEDataPossueRestricaoAlimentar.length" matBadgeOverlap="false">Pres. com Rest. Alim</span>
              </ng-template>
              <span *ngIf="frequenciasPresentesTurmaEDataPossueRestricaoAlimentar.length == 0">
                <h5 class="mb-0">
                  <!-- Nenhuma turma foi selecionada. -->
                </h5>
              </span>
              <div class="events-table" *ngIf="frequenciasPresentesTurmaEDataPossueRestricaoAlimentar.length > 0">
                <div class="table-responsive">
                  <table class="mat-table">
                    <!-- Cabeçalho da tabela -->
                    <thead class="mat-header">
                      <tr class="mat-header-row">
                        <th class="mat-header-cell">Cod.</th>
                        <th class="mat-header-cell">Nome</th>
                        <th class="mat-header-cell">Rest. Alimentar</th>
                      </tr>
                    </thead>
                    <!-- Corpo da tabela -->
                    <tbody>
                      <tr *ngFor="let item of frequenciasPresentesTurmaEDataPossueRestricaoAlimentar">
                        <td>{{item.alunoCodigoCadastro}}</td>
                        <td>{{item.alunoNomeCrianca}}</td>
                        <td>{{item.alunoDescricaoRestricaoAlimentar}}</td>
                      </tr>
                      <!-- Mensagem quando não há dados -->
                      <tr *ngIf="frequenciasPresentesTurmaEDataPossueRestricaoAlimentar.length === 0">
                        <td colspan="4" class="text-center">Nenhuma turma encontrada para a data selecionada.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </mat-tab>
            <!-- ---------------- -->
             <mat-tab>
              <ng-template mat-tab-label>
                <span [matBadge]="frequenciasPresentesTurmaEDataPossueNecessidadesEspeciais.length" matBadgeOverlap="false">Pres. com Sit. Atípica</span>
              </ng-template>
              <span *ngIf="frequenciasPresentesTurmaEDataPossueNecessidadesEspeciais.length == 0">
                <h5 class="mb-0">
                  <!-- Nenhuma turma foi selecionada. -->
                </h5>
              </span>
              <div class="events-table" *ngIf="frequenciasPresentesTurmaEDataPossueNecessidadesEspeciais.length > 0">
                <div class="table-responsive">
                  <table class="mat-table">
                    <!-- Cabeçalho da tabela -->
                    <thead class="mat-header">
                      <tr class="mat-header-row">
                        <th class="mat-header-cell">Cod.</th>
                        <th class="mat-header-cell">Nome</th>
                        <th class="mat-header-cell">Sit. Atípica</th>
                      </tr>
                    </thead>
                    <!-- Corpo da tabela -->
                    <tbody>
                      <tr *ngFor="let item of frequenciasPresentesTurmaEDataPossueNecessidadesEspeciais">
                        <td>{{item.alunoCodigoCadastro}}</td>
                        <td>{{item.alunoNomeCrianca}}</td>
                        <td>{{item.alunoDescricaoDeficiencia}}</td>
                      </tr>
                      <!-- Mensagem quando não há dados -->
                      <tr *ngIf="frequenciasPresentesTurmaEDataPossueNecessidadesEspeciais.length === 0">
                        <td colspan="4" class="text-center">Nenhuma turma encontrada para a data selecionada.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </mat-tab>
            <!-- ---------------- -->
             <mat-tab>
              <ng-template mat-tab-label>
                <span [matBadge]="frequenciasPresentesTurmaEDataPossueAniversario.length" matBadgeOverlap="false">Pres. com Aniversário</span>
              </ng-template>
              <span *ngIf="frequenciasPresentesTurmaEDataPossueAniversario.length == 0">
                <h5 class="mb-0">
                  <!-- Nenhuma turma foi selecionada. -->
                </h5>
              </span>
              <div class="events-table" *ngIf="frequenciasPresentesTurmaEDataPossueAniversario.length > 0">
                <div class="table-responsive">
                  <table class="mat-table">
                    <!-- Cabeçalho da tabela -->
                    <thead class="mat-header">
                      <tr class="mat-header-row">
                        <th class="mat-header-cell">Cod.</th>
                        <th class="mat-header-cell">Nome</th>
                        <th class="mat-header-cell">Data Nasc.</th>
                      </tr>
                    </thead>
                    <!-- Corpo da tabela -->
                    <tbody>
                      <tr *ngFor="let item of frequenciasPresentesTurmaEDataPossueAniversario">
                        <td>{{item.alunoCodigoCadastro}}</td>
                        <td>{{item.alunoNomeCrianca}}</td>
                        <td>{{item.alunoDataNascimento | date:'dd/MM/yyyy'}}</td>
                      </tr>
                      <!-- Mensagem quando não há dados -->
                      <tr *ngIf="frequenciasPresentesTurmaEDataPossueAniversario.length === 0">
                        <td colspan="4" class="text-center">Nenhuma turma encontrada para a data selecionada.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </mat-tab>
            <!-- ---------------- -->
          </mat-tab-group>
        </mat-card-content>
        <!-- </mat-card> -->
      </div>
    </div>
  </mat-card-content>
</mat-card>
